@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@layer base {
    * {
      font-family: "Outfit", sans-serif;
    }
  
    button {
      @apply cursor-pointer;
    }
  }
  
  